@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root, .container {
  height: 100%;
  margin: 0;
  padding: 0;
}

.map-and-form-table {
  border: 1px solid black;
  width: 70%;
  height: 600px;
}

.list-table {
  border: 1px solid black;
  width: 30%;
  height: 600px;
}

.map-container {
  height: 400px;
  width: 400px;
  margin-bottom: 20px;
}

.leaflet-container {
  height: 100%;
  width: 100%;
}

.user-list {
  height: 500px;
  width: 300px;
  display: flex;
  gap: 10px;
  flex-direction: column;
  overflow-y: auto;
}

.user-card {
  flex: 1 1 calc(25% - 20px);
  box-sizing: border-box;
}

.user-card:hover {
  background-color: #f0f0f0;
}
