@tailwind base;
@tailwind components;
@tailwind utilities;


html, body, #root, .container {
  background-color: var(--color-secondary);
  height: 100%;
  max-width: 1920px;
  margin: 0;
  padding: 0;
}

.header {
  background: linear-gradient(to bottom, var(--color-primary), var(--color-secondary));
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer {
  background: linear-gradient(to top, var(--color-primary), var(--color-secondary));
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.map-and-form-table {
  width: 50%;
  height: 600px;
  display: flex;
  flex-direction: column;
}

.list-table {
  width: 25%;
  height: 600px;
  overflow-y: auto;
}

.map {
  height: 100%;
  width: 100%;
}

.map-container {
  height: 100%;
  width: 600px;
  justify-content: center;
  align-items: center;
}

.leaflet-container {
  height: 400px;
  width: 400px;
}

.user-list {
  height: 440px;
  display: flex;
  gap: 10px;
  flex-direction: column;
  overflow-y: auto;
  
}

.user-card {
  flex: 1 1 calc(25% - 20px);
  box-sizing: border-box;
}

.user-selected {
  background-color: var(--color-primary);
}

.user-card:hover {
  background-color: var(--color-primary);
}

.user-list::-webkit-scrollbar {
  width: 12px;
}

.user-list::-webkit-scrollbar-track {
  background: var(--color-primary);
  border-radius: 10px;
}

.user-list::-webkit-scrollbar-thumb {
  background: var(--color-primary);
  border-radius: 10px;
}

.user-list::-webkit-scrollbar-thumb:hover {
  background: var(--color-primary)
}

.user-list {
  scrollbar-width: thin;
  scrollbar-color: var(--color-primary) #f1f1f1;
}

.input {
  height: 35px;
  width: 200px;
}

.form{
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
}

.tabs{
  display: flex;
  width: 250px;

  .tab {
    background-color: var(--color-secondary);
    flex: 1;
    padding: 10px;
    cursor: pointer;
    text-align: center;
  }
  
  .tab-active {
    background-color: var(--color-primary);
  }
}
