@tailwind base;
@tailwind components;
@tailwind utilities;


html, body {
  background-color: var(--color-black);
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Inter Display', sans-serif;
}

body {
  justify-content: center;
  align-items: center;
}

#root, .container {
  height: 100%;
  max-width: 90%;
  margin-left: 5%;
}

.content-container {
  background-color: var(--color-dark-gray);
  width: 100%;
  height: 100%;
}

.teste {
  width: 90%;
  height: 90%;
  margin-top: 5%;
  display: flex;
  flex-direction: column;
}

.map-and-form-table {
  background-color: var(--color-light-gray); ;
  width: 100%;
  height: 90%;
  display: flex;
  flex-direction: row;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  padding: 1.5%;
}

.list-table {
  width: 25%;
  height: 100%;
  overflow-y: auto;
}

.map {
  height: 97%;
  width: 95%;
}

.map-container {
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.leaflet-container {
  border-radius: 10px;
}

.user-list {
  height: 80%;
  display: flex;
  gap: 10px;
  flex-direction: column;
  overflow-y: scroll;
  overflow-x: hidden;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.user-list::-webkit-scrollbar {
  display: none;
}

.user-card {
  background-color: var(--color-primary);
  border-radius: 10px;
  transition: 0.3;
}

.user-card:hover {
  background-color: var(--color-secondary);
}

.user-selected {
  background-color: var(--color-secondary);;
  border-radius: 10px;
}

.full-input {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.half-input {
  width: 45%;
  display: flex;
  flex-direction: column;
}

.input {
  height: 35px;
  width: 100%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 4px 0 8px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
}

.input:hover {
  box-shadow: none;
  border: none;
  background-color: var(--color-light-gray);
}

.input-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: auto;
  padding: 10px;
}

.btn-container {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 10px;
  padding-top: 15px;
  gap: 10px;
  flex-grow: 1;
  width: 100%;
}

.btn {
  height: 35px;
  background-color: var(--color-dark-gray);
  color: white;
}

.filter-input {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 4px 0 8px rgba(0, 0, 0, 0.1);
}

.form{
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 100%;
  padding: 10px;
}

.tabs{
  display: flex;
  width: 300px;

  .tab {
    background-color: #E2E4E9;
    flex: 1;
    padding: 10px;
    cursor: pointer;
    text-align: center;
    color: #747577;
  }

  .tab-loc svg {
    fill: #747577;
  }

  .tab:hover {
    background-color: #D1D3D8;
  }

  .tab-loc{
    border-top-left-radius: 10px;
  }

  .tab-new {
    border-top-right-radius: 10px;
  }
  
  .tab-active {
    border-bottom:1px solid var(--color-primary);
    color: black;
  }
}
